In [4]:
import pandas as pd #data processing

In [17]:
#ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [18]:
#read data
df = pd.read_csv('./battles.csv')

In [19]:
#peek top
df.head()

,name,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1,...,major_death,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,location,region,note
0,Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,1.0,0.0,15000.0,4000.0,Jaime Lannister,"Clement Piper, Vance",1.0,Golden Tooth,The Westerlands,NaN
1,Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Baratheon,...,1.0,0.0,NaN,120.0,Gregor Clegane,Beric Dondarrion,1.0,Mummer's Ford,The Riverlands,NaN
2,Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,0.0,1.0,15000.0,10000.0,"Jaime Lannister, Andros Brax","Edmure Tully, Tytos Blackwood",1.0,Riverrun,The Riverlands,NaN
3,Battle of the Green Fork,298,4,Robb Stark,Joffrey/Tommen Baratheon,Stark,NaN,NaN,NaN,Lannister,...,1.0,1.0,18000.0,20000.0,"Roose Bolton, Wylis Manderly, Medger Cerwyn, H...","Tywin Lannister, Gregor Clegane, Kevan Lannist...",1.0,Green Fork,The Riverlands,NaN
4,Battle of the Whispering Wood,298,5,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,NaN,Lannister,...,1.0,1.0,1875.0,6000.0,"Robb Stark, Brynden Tully",Jaime Lannister,1.0,Whispering Wood,The Riverlands,NaN

In [20]:
#peek tail
df.tail()

,name,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1,...,major_death,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,location,region,note
33,Second Seige of Storm's End,300,34,Joffrey/Tommen Baratheon,Stannis Baratheon,Baratheon,NaN,NaN,NaN,Baratheon,...,0.0,0.0,NaN,200.0,"Mace Tyrell, Mathis Rowan",Gilbert Farring,0.0,Storm's End,The Stormlands,NaN
34,Siege of Dragonstone,300,35,Joffrey/Tommen Baratheon,Stannis Baratheon,Baratheon,NaN,NaN,NaN,Baratheon,...,0.0,0.0,2000.0,NaN,"Loras Tyrell, Raxter Redwyne",Rolland Storm,0.0,Dragonstone,The Stormlands,NaN
35,Siege of Riverrun,300,36,Joffrey/Tommen Baratheon,Robb Stark,Lannister,Frey,NaN,NaN,Tully,...,0.0,0.0,3000.0,NaN,"Daven Lannister, Ryman Fey, Jaime Lannister",Brynden Tully,0.0,Riverrun,The Riverlands,NaN
36,Siege of Raventree,300,37,Joffrey/Tommen Baratheon,Robb Stark,Bracken,Lannister,NaN,NaN,Blackwood,...,0.0,1.0,1500.0,NaN,"Jonos Bracken, Jaime Lannister",Tytos Blackwood,0.0,Raventree,The Riverlands,NaN
37,Siege of Winterfell,300,38,Stannis Baratheon,Joffrey/Tommen Baratheon,Baratheon,Karstark,Mormont,Glover,Bolton,...,NaN,NaN,5000.0,8000.0,Stannis Baratheon,Roose Bolton,0.0,Winterfell,The North,NaN

In [21]:
#query data type
values = {}
arr = []
print('Values is a ',type(values))
type(arr)

Values is a  <class 'dict'>

list

In [25]:
#print columns with missing values as a list
def getColumnsWithMissingValuesList(df):
    return[col for col in df.columns if df[col].isnull().any()]
getColumnsWithMissingValuesList(df)

['attacker_king',
 'defender_king',
 'attacker_2',
 'attacker_3',
 'attacker_4',
 'defender_1',
 'defender_2',
 'defender_3',
 'defender_4',
 'attacker_outcome',
 'battle_type',
 'major_death',
 'major_capture',
 'attacker_size',
 'defender_size',
 'attacker_commander',
 'defender_commander',
 'summer',
 'location',
 'note']

In [26]:
#display columns with object data type (categorical columns) as a list
def getObjectColumnsList(df):
    return[col_name for col_name in df.columns if df[col_name].dtype == 'object']
cols = getObjectColumnsList(df)
cols

['name',
 'attacker_king',
 'defender_king',
 'attacker_1',
 'attacker_2',
 'attacker_3',
 'attacker_4',
 'defender_1',
 'defender_2',
 'attacker_outcome',
 'battle_type',
 'attacker_commander',
 'defender_commander',
 'location',
 'region',
 'note']

In [27]:
#display columns that contains numeric values as a list
def getNumericColumnsList(df):
    return [col_name for col_name in df.columns if df[col_name].dtype == ['int64','float64']]
num_cols = getNumericColumnsList(df)
num_cols

def getNumericColumnsList(df):
    return [cname for cname in df.columns if df[cname].dtype in ['int64', 'float64']]

TypeError: data type not understood

In [32]:
df['battle_number'].dtype

dtype('int64')